{{ partial "head.html" . }}
{{ partial "top-subpage.html" . }}

<section id="banner" style="min-height: 25em; height: 50vh">
  <article>
    <img src="{{ .Site.BaseURL }}/{{ .Params.thumbnail }}" alt="">
    <div class="inner">
      <h2>Our Vision</h2>
    <p>Living God’s Love, Sharing God’s Love</p>
    </div>
  </article>
</section>
<section id="one" class="wrapper">
  <div class="inner">
    <section class="">
      <div class="content">
        <h2>{{ .Title }}</h2>
        {{ .Content }}
      </div>
    </section>
  </div>
</section>

{{ partial "foot.html" . }}
