#header nav > ul > li a {
	text-transform: none;
}

#nav ul li:last-child {
	white-space: nowrap;
}

nav ul li:last-child a
 {
	/* copied button css here. Not dry, but I don't want to touch the .css files without touching the sass files. */
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;
	border: 0;
	border-radius: 0;
	cursor: pointer;
	display: inline-block;
	font-family: "Raleway", Helvetica, sans-serif;
	font-weight: 700;
	height: 2.75em;
	line-height: 2.75em;
	padding: 0 1.5em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;

	background-color: transparent;
	color: #fff !important;
	box-shadow: inset 0 0 0 1px #fff;
}

nav ul li:last-child a {
	background-color: transparent;
	color: #444 !important;
	box-shadow: inset 0 0 0 1px #444;
}

header.alt nav ul li:last-child a {
	background-color: transparent;
	color: #FFF !important;
	box-shadow: inset 0 0 0 1px #FFF;
}

.donate-button {
	background-color: #4A99FF;
	border-radius: 5px;
	color: white !important;
	padding: 0 30px;
	border: none;
	box-shadow: none;
	height: 40px;
	border: 1px solid #4A99FF;
	font-size: 14px;
	line-height: 40px;
	text-transform: none;
}

.donate-button:hover {
	background-color: #1879F5;
	color: white !important;
}

input.amount {
	max-width: 200px !important;
	display: inline-block !important;
	padding: 10px !important;
	height: 40px !important;
	border-radius: 5px !important;
}

.post-list-item {
	margin-bottom: 60px
}

.narrow-page {
	max-width: 60em !important;
}

#banner .inner p {
	font-size: 25px;
}


.post a {
	border-bottom: none;
}