{{ partial "head.html" . }}
{{ partial "top-subpage.html" . }}
<!-- One -->
<section id="one" class="wrapper major-pad">
  <div class="inner">
    <section class="spotlight">
      <div class="content">
        <h2>{{ .Title }}</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id interdum magna, ultricies aliquet curabitur sed metus pellentesque, ornare sapien quis.</p>

        <form action="" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
            data-amount="2000"
            data-name="Bashaw United Church"
            data-description="Donation"
            data-image="{{ .Site.BaseUrl }}images/stripe-128x128.png"
            data-locale="auto"
            currency="CAD">
          </script>
        </form>

      </div>
      <span class="image"><img src="{{ .Site.BaseUrl }}images/pic07.jpg" alt="" /></span>
    </section>
  </div>
</section>

{{ partial "foot.html" . }}