{{ partial "head.html" . }}
{{ partial "top-subpage.html" . }}
  <section id="main" class="wrapper sidebar right">
    <div class="inner">

    <header class="major">
      <h2>The Bashaw United Blog</h2>
      <p>Sed magna in pharetra ultricies dolor sit amet consequat adipiscing lorem.</p>
    </header>

    <!-- Content -->
      <div class="content">
        {{ range .Data.Pages }}
          <article class="post-list-item">
          <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
          <p><time>
          {{ if isset .Params "eventdate" }}
            <strong>Date</strong> {{ .Params.eventdate }}
          {{ end }}
          </time></p>
          <a href="{{ .Permalink }}" class="image fit"><img src="{{ .Site.BaseUrl }}images/pic07.jpg" alt="" /></a>
          <p>{{ if ne .Description "" }}{{ .Description }}{{ end }}</p>
          </article>
        {{ end }}
      </div>

      {{ partial "sidebar.html" . }}
    </div><!-- .inner -->
  </section><!-- .wrapper -->


{{ partial "foot.html" . }}