{{ partial "head.html" . }}
{{ partial "top-subpage.html" . }}
<h1>asdf</h1>
  <ul class="posts">
  {{ range .Data.Pages }}
    <li><a href="{{ .Permalink }}">{{ .Title }}</a>
    {{ if isset .Params "categories" }}
    &middot;
    {{ $baseUrl := .Site.BaseUrl }}
    {{ range .Params.categories }}<a class="label" href="{{ $baseUrl }}/categories/{{ . | urlize }}">{{ . }}</a>{{ end }}
    {{ end }}</span>
    &middot; <time>{{ .Date.Format "Jan 2, 2006" }}</time></li>
  {{ end }}
  </ul>
{{ partial "foot.html" . }}