{{ partial "head.html" . }}
{{ partial "top-subpage.html" . }}
  <section id="main" class="wrapper sidebar right">
    <div class="inner">

    <header class="major">
      <h2>Events</h2>
      <p>Sed magna in pharetra ultricies dolor sit amet consequat adipiscing lorem.</p>
    </header>

    <!-- Content -->
      <div class="content">
        {{ range .Data.Pages }}
          <article>
          <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
          <a href="#" class="image fit"><img src="{{ .Site.BaseUrl }}images/pic07.jpg" alt="" /></a>
          {{ if isset .Params "tags" }}
          &middot;
          {{ $baseUrl := .Site.BaseUrl }}
          {{ range .Params.tags }}<a class="label" href="{{ $baseUrl }}/categories/{{ . | urlize }}">{{ . }}</a>{{ end }}
          {{ end }}</span>
          &middot; <time>{{ .Date.Format "Jan 2, 2006" }}</time>
          </article>
        {{ end }}
      </div>

      {{ partial "sidebar.html" . }}
    </div><!-- .inner -->
  </section><!-- .wrapper -->


{{ partial "foot.html" . }}